<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString" connectionString="server=localhost;user id=root;database=radiostation" providerName="MySql.Data.MySqlClient" />
    <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString1" connectionString="user id=root;server=localhost;database=radiostation;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
    <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString2" connectionString="server=localhost;user id=root;persistsecurityinfo=False;password=;database=radiostation" providerName="MySql.Data.MySqlClient" />
    <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString3" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=radiostation;allowuservariables=True" providerName="MySql.Data.MySqlClient" />
    <add name="Radiostation_BD.Properties.Settings.radiostationConnectionString4" connectionString="server=localhost;user id=root;database=radiostation;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>